@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,400;0,700;1,700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.range-thumb::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #e6e5ea;
}

input[type='checkbox'] {
  appearance: none;
  width: 1.3rem;
  height: 1.3rem;
  border: 2px solid #e6e5ea;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  transition: 0.2s all ease-in-out;
  cursor: pointer;
}

input[type='checkbox']:hover {
  border-color: #a4ffaf;
}

input[type='checkbox']:checked {
  background-color: #a4ffaf;
  border-color: #a4ffaf;
}
input[type='checkbox']::before {
  position: absolute;
  content: url('./assets/images/icon-check.svg');
  padding-left: 2px;
  line-height: 22px;
  transform: scale(0);
  transition: 0.3s all ease-in-out;
}
input[type='checkbox']:checked::before {
  transform: scale(1);
  border: transparent;
}
